<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>SkyCiv mobile AR</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!-- THREE JS -->
    <script src='js/three.js'></script>

    <!-- UNDERSCORE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

    <!-- SEMANTIC UI -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <!-- SEMANTIC UI SLIDER -->
    <script src="js/range.js"></script>
    <link rel="stylesheet" type="text/css" href="css/range.css">

    <!-- AR TOOLKIT -->
    <script src="jsartoolkit5/artoolkit.min.js"></script>
    <script src="jsartoolkit5/artoolkit.api.js"></script>
    <script src="threex/threex-artoolkitsource.js"></script>
    <script src="threex/threex-artoolkitcontext.js"></script>
    <script src="threex/threex-arbasecontrols.js"></script>
    <script src="threex/threex-armarkercontrols.js"></script>
    <script src='js/init_AR.js'></script>




    <!-- APP FUNC -->
    <script src='js/demo.js'></script>

    <!-- SkyCiv -->
    <script src="https://api.skyciv.com/dist/v3/javascript/skyciv-renderer-dist.js"></script>


</head>

<body style='margin : 0px; overflow: hidden; font-family: Monospace; position:relative'>


    <div id="test" style="display: block;"></div>

    <div id="loader-cover" class="ui segment" style="height:100%">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <p></p>
    </div>

    

</body>

<script>

    S3D_MODEL.getModelData()

</script>


</html>